.DS_Store
/.idea/.gitignore
/.idea/discord.xml
/.idea/feyli.github.io.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/tailwind.config.js
/.idea/jsLibraryMappings.xml
/node_modules
package.json
package-lock.json
tailwindcss.xml
/src/styles.css
/.idea/prettier.xml
/.idea/codeStyles/Project.xml
