@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JetBrains Mono";
  src: url("../jbmono/jetbrainsmono-variablefont_wght-webfont.woff2")
    format("woff2");
  src: url("../jbmono/jetbrainsmono-variablefont_wght-webfont.woff")
    format("woff");
}

body {
  font-family: "JetBrains Mono", monospace;
}

h2 {
  @apply text-5xl lg:text-7xl;
}

h3 {
  @apply text-3xl lg:text-5xl;
}

.proj-icon {
  @apply size-52 rounded-xl;
}

.proj-button {
  @apply mt-2 flex h-10 items-center justify-center gap-2 rounded-lg text-base transition-colors;
}

.proj-button img {
  @apply w-5;
}

.handwave {
  animation: wave 2.5s infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@media (max-height: 600px) {
  .scrollsvg {
    display: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
