@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "JetBrains Mono";
    src: url("../jbmono/jetbrainsmono-variablefont_wght-webfont.woff2") format("woff2");
    src: url("../jbmono/jetbrainsmono-variablefont_wght-webfont.woff") format("woff");
}

* {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

body {
    font-family: "JetBrains Mono", monospace;
}

h2 {
    @apply text-5xl lg:text-7xl;
}

h3 {
    @apply text-4xl lg:text-6xl;
}

h4 {
    @apply text-xl lg:text-3xl;
}

.card {
    @apply overflow-y-auto p-4 lg:p-10;
}

.project .container header {
    @apply flex h-14 flex-row items-center gap-4 lg:h-20;
}

.project .container {
    @apply flex size-full flex-col justify-between gap-8;
}

.proj-icon {
    @apply inline h-full rounded-xl border border-gray-200;
}

.proj-button {
    @apply flex h-full min-h-10 flex-row items-center justify-center gap-2 rounded-lg text-xl leading-6 transition-colors;
}

.proj-button img {
    @apply w-5;
}

.buttons {
    @apply mt-4;
}

.devicon-discordjs-plain::before {
    @apply text-blurple-100;
}

.handwave {
    animation: wave 2.5s infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

.noselect {
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
}

@media (max-height: 600px) {
    .scrollsvg {
        display: none;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        display: block;
    }
    to {
        opacity: 0;
        display: none;
    }
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    60% {
        transform: rotate(0deg);
    }
    /* Reset for the last half to pause */
    100% {
        transform: rotate(0deg);
    }
}
