@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "JetBrains Mono";
    src: url("../jbmono/jetbrainsmono-variablefont_wght-webfont.woff2") format("woff2");
    src: url("../jbmono/jetbrainsmono-variablefont_wght-webfont.woff") format("woff");
}

* {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

body {
    font-family: "JetBrains Mono", monospace;
}

h2 {
    @apply text-5xl lg:text-7xl;
}

h3 {
    @apply text-2xl lg:text-5xl;
}

h4 {
    @apply text-xl lg:text-3xl;
}

.card {
    @apply rounded-xl shadow-lg;
}

.project .container header {
    @apply z-10 flex h-14 flex-row items-center gap-4 lg:h-20;
}

.project .container {
    @apply flex size-full min-w-full flex-col justify-between gap-8 overflow-y-auto rounded-xl bg-gray-400/10 p-4 backdrop-blur-lg sm:p-10;
}

.project:nth-of-type(1) {
    background: url("./medias/sunbot-nobg.png") no-repeat right;
    @apply bg-[size:20rem] bg-right md:bg-[size:35rem] md:bg-right-top;
}

.technologies h3 {
    @apply mb-4;
}

.proj-icon {
    @apply inline h-full rounded-xl border border-gray-200;
}

.proj-button {
    @apply flex h-full min-h-10 flex-row items-center justify-center gap-2 rounded-lg bg-gray-600 bg-opacity-30 text-xl leading-6 backdrop-blur-lg transition-colors;
    @apply transition-all hover:bg-opacity-40;
}

.discord-button {
    @apply bg-blurple-200 bg-opacity-30;
}

.ed-button {
    @apply bg-[#138DED] bg-opacity-25 hover:bg-opacity-35;
}

.proj-button img {
    @apply w-5;
}

.buttons {
    @apply mt-4 flex max-h-40 flex-grow flex-col gap-2 justify-self-end *:flex-grow;
}

.devicon-discordjs-plain::before {
    @apply text-blurple-100;
}

.handwave {
    animation: wave 2.5s infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

.noselect {
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
}

@media (max-height: 600px) {
    .scrollsvg {
        display: none;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        display: block;
    }
    to {
        opacity: 0;
        display: none;
    }
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    60% {
        transform: rotate(0deg);
    }
    /* Reset for the last half to pause */
    100% {
        transform: rotate(0deg);
    }
}
